google-cloud-firestore==2.0.2
google-cloud-secret-manager==2.2.0
google-auth==1.24.0
neo4j==4.2.1
elasticsearch>=7.0.0,<8.0.0
fastapi==0.60.1
jinja2>=2.11.0,<3.0.0
aiofiles<1.0.0
pandas>=1.0.0
orjson>=3.1.2
gunicorn
uvicorn
uvloop>=0.14.0
httptools>=0.1.1
