{% extends "index.html.j2" %}
{% block title %}API{% endblock %}
{% block content %}

<div class="flex h-screen pb-5 px-5">
  <div class="max-w-xs m-auto form-full form-md">
    <a href="https://codefordemocracy.org" target="_blank" class="block mb-7"><img src="//assets.codefordemocracy.org/img/logo.png" /></a>
    <a class="btn btn-primary" href="https://docs.codefordemocracy.org/data/api/">Read Documentation</a>
    <a class="btn btn-gray" href="/view/endpoints">View Endpoints</a>
  </div>
</div>

{% endblock %}
